<?php

    /* Config for server credentials. Copy to config.php (obviously) */

    $staging_ssh_ip = '127.0.0.1';
    $staging_ssh_user = 'mysshuser';
    $staging_ssh_pass = 'mysshpass';
    $staging_ssh_port = 22;

    $production_ssh_ip = NULL;
    $production_ssh_user = NULL;
    $production_ssh_pass = NULL;
    $production_ssh_port = 22;

?>
