<?php

    /* Config for server credentials */

    $production_ssh_ip = NULL;
    $production_ssh_user = NULL;
    $production_ssh_pass = NULL;
    $production_ssh_port = NULL;

    $production_mysql_db = NULL;
    $production_mysql_user = NULL;
    $production_mysql_pass = NULL;
    $production_mysql_dir = NULL; 

    $local_mysql_dir = NULL;

?>
